/* colors variables SASS 
$Primary: #F0F7D4;
$Primarylight: #B2D732;
$Primarydark: #FE2712;

$Greylight1: #faf9f9;
$Greylight2: #f4f2f2;
$Greylight3: #f0eeee;
$Greylight4: #ccc;

$Greydark1: #333;
$Greydark2: #777;
$Greydark3: #999;
*/

// variables CSS
:root{
    --colorblanco: #fff;
    --colornegro: #000;

    --colorprimary: #F0F7D4;
    --colorprimarylight: #B2D732;
    --colorprimarydark: #FE2712;

    --colorgreylight1: #faf9f9;
    --colorgreylight2: #f4f2f2;
    --colorgreylight3: #f0eeee;
    --colorgreylight4: #ccc;

    --colorgreydark1: #333;
    --colorgreydark2: #777;
    --colorgreydark3: #999;

    --colorhotelview: #D4E4F7;
    --colormenu: #236AB9;
    --colormenuactive: #90A9C6;

    --shadowdark :0 2rem 6rem rgba(0,0,0,.3);

    --shadowinitial: 0px 3px 1px -2px rgba(0,0,0,0.2),
                     0px 2px 2px  0px rgba(0,0,0,0.14),
                     0px 1px 5px  0px rgba(0,0,0,0.12);

    --shadowend:     0px 2px 4px -1px rgba(0,0,0,0.2),
                     0px 4px 5px  0px rgba(0,0,0,0.14),
                     0px 1px 10px 0px rgba(0,0,0,0.12);
}