.btn-inline {
    border: none;
    color: var(--colormenu);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        color: var(--colorgreydark3);
        
    }
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}




