.cta {
    padding: 3.5rem 0;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
        padding: 2.5rem 0;
           }

    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
}

.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, darkred, var(--colorprimarydark));
    color : var(--colorblanco);
    position: relative;
    overflow: hidden;

    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .2s;
    }

    &__visible {
        display: inline-block;
        padding: 2rem 7.5rem;
    }

    &__invisible {
        position: absolute;
        padding: 2rem 7.5rem;
        left: 0;
        top: -100%;
        
    }

    &:hover {
        background-image: linear-gradient(to left, var(--colorprimarydark) , darkred);
    }

    &:hover &__visible{
            transform: translateY(100%);
        }

    &:hover &__invisible{
            top: -10px;
        }
    
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}